
      
      .tabela_glowna
      {
        width: 100%!important; 
        height: 330px!important;
        padding: 50px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
      }
      .tabela_glowna_pierwsza_kom
      {
        float: right;
        display: block; 
        width: 50%; 
        height:100%!important;
        padding-top: 20px;

      }
      .zamow_produkt_button
      {
        width: 140px!important;
        background-color: rgba(176,132,255,255);
        color: white;
        border: none;
        border-radius: 3px;
        height: 40px;
        font-size: 15px
      }
      .tabela_glowna_druga_kom
      {
        width: 50%;
        height:100%!important;
        float:left;
        display: block;
        padding-top:20px;
        
      }
      .info_o_prowadzacym_i_czasie
      {
        float: left;
        font-weight: 800;
      }
      .mocne_slowa_pod_tytulem
      {
        font-size: 19px;
        margin-right: 20%;
      }
      .zdjecie_do_kursu
      {
        width: 500px; 
        display: block;
        margin: auto;
      }
      .tabela_czterech_wskaznikow
      {
        position: relative;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        height: 200px;
        font-size: 30px;
        color: rgba(176,132,255,255);
      }
      .komorka_czterech_wskaznikow
      {
        padding: 100px;
      }
      @media (max-width: 1200px)
      {
        .tabela_glowna_pierwsza_kom
        {
          float:none;
          width:100%;
          text-align: center;
        }
        .tabela_glowna_druga_kom
        {
          float:none;
          width:100%;
        }
        .info_o_prowadzacym_i_czasie
        {
          padding-left: none;
          margin-left: 50%;
          transform: translate(-50%, 0%);
        }
        .mocne_slowa_pod_tytulem
        {
          margin-right: 200px;
          margin-left: 200px;
        }
        .zdjecie_do_kursu
        {
          width: 400px;
        }
        .komorka_czterech_wskaznikow
        {
          display: inline-block;
          width: 50%;
          padding: 0px;
        }
      }
@media (min-width: 900px) 
      {
      
  }

  @media (max-width: 900px) 
  {
    .mocne_slowa_pod_tytulem
    {
      margin-left: 0px;
      margin-right: 0px;  
    }
    .zdjecie_do_kursu
    {
    }
  }