
      .tabela_glowna
      {
        border: 2px solid red;
        background-color:black;
        width: 100%!important; 
        height: 330px!important;
        padding: 50px;
        color: white;
      }
      .tabela_glowna_pierwsza_kom
      {
        float: right;
        display: block; 
        width: 50%; 
        height:100%!important;
        padding-top: 20px;
      }
      .zamow_produkt_button
      {
        width: 120px!important;
      }
      .tabela_glowna_druga_kom
      {
        width: 50%;
        height:100%!important;
        float:left;
        display: block;
        padding-top:20px;
      }
@media (min-width: 900px) 
      {
      
  }
    
  @media (max-width: 900px) 
  {
      .tabela_glowna_pierwsza_kom
      {
        float:none;
      }
      .tabela_glowna_druga_kom
      {
        float:none;
      }
  }